.body {
  margin-left: 70px;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; /* 전체 너비 사용 */
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #f8f9fa; /* 연한 회색 배경색 추가 */
  border: 1px solid #dee2e6; /* 연한 회색 테두리 추가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  padding: 20px; /* 내부 여백 추가 */
  border-radius: 8px; /* 모서리를 둥글게 처리 */
  margin-bottom: 30px; /* 아래쪽 여백 추가 */
}

.section h1 {
  margin-bottom: 20px; /* 제목 아래 여백 추가 */
}

.divider {
  margin: 50px;
  height: 300px;
}
